version: "3.9"
services:
  openvpn:
    cap_add:
      - NET_ADMIN
    image: kylemanna/openvpn
    container_name: openvpn
    ports:
      - "1194:1194/udp"
    networks:
      -  dev_network
    volumes:
      - ./openvpn-data/conf:/etc/openvpn

  seed_1:
    container_name: seed001.ec.dylaan.nl
    build: .
    networks:
      dev_network:
        ipv4_address: 172.16.238.10

  seed_2:
    container_name: seed002.ec.dylaan.nl
    build: .
    networks:
      dev_network:
        ipv4_address: 172.16.238.11

  seed_3:
    container_name: seed003.ec.dylaan.nl
    build: .
    networks:
      dev_network:
        ipv4_address: 172.16.238.12

  node_1:
    container_name: node_1
    build: .
    networks:
      - dev_network

  node_2:
    container_name: node_2
    build: .
    networks:
      - dev_network

networks:
  dev_network:
    ipam:
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
